@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Interviewees
@model IntervieweeViewModel

@{
    ViewBag.Title = "Podgląd ankietera";
}

<h2 class="center-block">
    <span class="label label-warning center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.InterviewDate).PrependIcon(FontAwesome.calendar).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.Age).PrependIcon(FontAwesome.user_circle).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.SexName).PrependIcon(FontAwesome.venus_mars).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.SeniorityName).PrependIcon(FontAwesome.user_md).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.EducationName).PrependIcon(FontAwesome.graduation_cap).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.PlaceOfResidenceName).PrependIcon(FontAwesome.building).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.MartialStatusName).PrependIcon(FontAwesome.users).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.MaterialStatusName).PrependIcon(FontAwesome.money).Readonly()
                </div>
            </div>
        }
    }

    @Html.ButtonsFooter(
        Html.Bootstrap().BackButton(MVC.Admin.Interviewees.List()),
        Html.Bootstrap().ConfirmDeleteButton())
}

@Html.Action(MVC.Admin.Interviewees.Delete(Model.IntervieweeId))