@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Interviewees
@model IntervieweeViewModel

@{
    ViewBag.Title = "Podgląd respondenta: " + Model.InterviewDate;
}

<h2 class="center-block">
    <span class="label label-warning center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.SexName).PrependIcon(FontAwesome.venus_mars).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.AgeName).PrependIcon(FontAwesome.user_circle).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.SeniorityName).PrependIcon(FontAwesome.user_md).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.MaterialStatusName).PrependIcon(FontAwesome.money).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.PlaceOfResidenceName).PrependIcon(FontAwesome.building).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.EducationName).PrependIcon(FontAwesome.graduation_cap).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.MartialStatusName).PrependIcon(FontAwesome.users).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.WorkplaceName).PrependIcon(FontAwesome.briefcase).Readonly()
                </div>
            </div>
        }
    }

    @Html.ButtonsFooter(
        Html.Bootstrap().BackButton(MVC.Admin.Interviewees.List()),
        Html.Bootstrap().ConfirmDeleteButton())
}

@foreach (var result in Model.IntervieweeQuestionnaireResults)
{
    <table class="table table-condensed table-bordered table-hover table-responsive">
        <thead>
            <tr class="bg-info">
                <th>
                    @(Html.Bootstrap().ActionLinkButton("Szczegóły", MVC.Admin.Interviewees.QuestionnaireResultDetails(Model.IntervieweeId, result.QuestionnaireId))
                        .PrependIcon(FontAwesome.info).Class("center-block"))
                </th>
                <th colspan="8" class="text-center">@result.QuestionnaireName</th>
            </tr>
            <tr class="bg-info">
                <th class="text-center">Kategoria pytań</th>
                <th class="text-center">Przedział dla wyników</th>
                <th class="text-center">Wynik</th>
            </tr>
        </thead>

        <tbody class="text-center">
            @foreach (var category in result.IntervieweeResults)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td>@category.ResultRange</td>
                    <td>@category.Average</td>
                </tr>
            }
        </tbody>
    </table>
}

<br /><br />
@Html.Action(MVC.Admin.Interviewees.Delete(Model.IntervieweeId))