@model JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Interviewees.IntervieweeDataSource

@{
    ViewBag.Title = "Ankieterzy";
}

<h2 class="center-block">
    <span class="label label-primary center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form().Id("FormGrid")))
{
    @Html.AntiForgeryToken()

    using (var filters = Html.Bootstrap().Begin(new Panel()))
    {
        using (filters.BeginBody())
        {
            <div class="row">
                <div class="col-sm-2">
                    @form.FormGroup().DropDownListFor(x => x.SexId, Model.Sexes).OptionLabel("-").PrependIcon(FontAwesome.venus_mars)
                    @form.FormGroup().TextBoxFor(x => x.DateFrom).PrependIcon(FontAwesome.calendar)
                </div>
                <div class="col-sm-2">
                    @form.FormGroup().DropDownListFor(x => x.SeniorityId, Model.Seniorities).OptionLabel("-").PrependIcon(FontAwesome.user_md)
                    @form.FormGroup().TextBoxFor(x => x.DateTo).PrependIcon(FontAwesome.calendar)
                </div>
                <div class="col-sm-2">
                    @form.FormGroup().DropDownListFor(x => x.EducationId, Model.Educations).OptionLabel("-").PrependIcon(FontAwesome.graduation_cap)
                    @form.FormGroup().TextBoxFor(x => x.AgeFrom).PrependIcon(FontAwesome.user_circle)
                </div>
                <div class="col-sm-2">
                    @form.FormGroup().DropDownListFor(x => x.PlaceOfResidenceId, Model.PlacesOfResidence).OptionLabel("-").PrependIcon(FontAwesome.building)
                    @form.FormGroup().TextBoxFor(x => x.AgeTo).PrependIcon(FontAwesome.user_circle)
                </div>
                <div class="col-sm-2">
                    @form.FormGroup().DropDownListFor(x => x.MartialStatusId, Model.MartialStatuses).OptionLabel("-").PrependIcon(FontAwesome.users)
                </div>

                <div class="col-sm-2">
                    @form.FormGroup().DropDownListFor(x => x.MaterialStatusId, Model.MaterialStatuses).OptionLabel("-").PrependIcon(FontAwesome.money)
                    <br />
                    <div class="pull-right">
                        @Html.Bootstrap().SubmitFilterButton()
                    </div>
                </div>
            </div>
        }
    }

    @Html.Partial("_Grid", Model)
}

@Html.ButtonsFooter(
    Html.Bootstrap().BackButton(MVC.Application.Home.Index()))