@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Interviewees
@model IntervieweeViewModel

@{
    ViewBag.Title = "Wyniki szczegółowe dla respondenta: " + ViewBag.QuestionnaireName;
}

<h2 class="center-block">
    <span class="label label-warning center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.SexName).PrependIcon(FontAwesome.venus_mars).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.AgeName).PrependIcon(FontAwesome.user_circle).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.SeniorityName).PrependIcon(FontAwesome.user_md).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.MaterialStatusName).PrependIcon(FontAwesome.money).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.PlaceOfResidenceName).PrependIcon(FontAwesome.building).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.EducationName).PrependIcon(FontAwesome.graduation_cap).Readonly()
                </div>
                <div class="col-sm-3">
                    @form.FormGroup().TextBoxFor(x => x.MartialStatusName).PrependIcon(FontAwesome.users).Readonly()
                    @form.FormGroup().TextBoxFor(x => x.WorkplaceName).PrependIcon(FontAwesome.briefcase).Readonly()
                </div>
            </div>
        }
    }

    @Html.ButtonsFooter(
        Html.Bootstrap().BackButton(MVC.Admin.Interviewees.Edit(Model.IntervieweeId)),
        Html.Bootstrap().ConfirmDeleteButton())
}

<table class="table table-condensed table-bordered table-hover table-responsive">
    @foreach (var result in Model.IntervieweeDetails)
    {
        <tr>
            <th rowspan="2" class="text-center">@result.QuestionText</th>
            @foreach (var answer in result.Answers)
            {
                <th class="text-center active">@answer.Text</th>
            }
        </tr>
        <tr class="text-center">
            @foreach (var answer in result.Answers)
            {
                <td>
                    @if (answer.Count > 0)
                    {
                        <span class="label label-success">
                            <i class="@FontAwesome.check"></i>
                        </span>
                    }
                </td>
            }
        </tr>
    }
</table>

<br /><br />
@Html.Action(MVC.Admin.Interviewees.Delete(Model.IntervieweeId))