@using JanuszMarcinik.Mvc.WebUI.Areas.Application.Models.Results
@model QuestionnaireResultsViewModel

@{
    ViewBag.Title = "Wyniki ankiety";
}

<h2 class="center-block">
    <span class="label label-primary center-block">@Model.QuestionnaireName</span>
</h2>

@foreach (var questionResult in Model.QuestionResults)
{
    <table class="table table-condensed table-bordered table-hover table-responsive">
        <thead>
            <tr class="bg-info">
                <th colspan="@(questionResult.Answers.Count + 2)" class="text-center">@string.Format("{0}. {1}", questionResult.QuestionNumber, questionResult.QuestionText)</th>
            </tr>
            <tr class="bg-info">
                <th colspan="2"></th>
                @foreach (var answer in questionResult.Answers)
                {
                    <th class="text-center">@answer</th>
                }
            </tr>
        </thead>

        <tbody class="text-center">
            @foreach (var dictionaryGroup in questionResult.DictionaryGroups)
                {
                <tr>
                    <td rowspan="@dictionaryGroup.DictionaryItems.Count">@dictionaryGroup.GroupName</td>
                    <td>@dictionaryGroup.DictionaryItems.First().ItemName</td>
                    @Html.Partial("_AnswerResults", dictionaryGroup.DictionaryItems.First().AnswersResults)
                </tr>
                foreach (var dictionaryItem in dictionaryGroup.DictionaryItems.Skip(1))
                {
                    <tr>
                        <td>@dictionaryItem.ItemName</td>
                        @Html.Partial("_AnswerResults", dictionaryItem.AnswersResults)
                    </tr>
                }
            }
        </tbody>
    </table>
}

<br /><br />
@Html.ButtonsFooter(
    Html.Bootstrap().BackButton(MVC.Application.Results.QuestionnaireSelect()))