@using JanuszMarcinik.Mvc.WebUI.Areas.Application.Models.Results
@model ResultsListViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2 class="center-block">
    <span class="label label-primary center-block">@Model.Title</span>
</h2>

@foreach (var result in Model.Results)
{
    <table class="table table-condensed table-bordered table-hover table-responsive">
        <thead>
            <tr class="bg-info">
                <th colspan="@((result.Options.Count * 2) + 1)" class="text-center">@result.Text</th>
            </tr>
            <tr class="bg-info">
                <th>
                    @if (result.Action != null)
                    {
                        @Html.Bootstrap().ActionLinkButton("Szczegóły", result.Action).PrependIcon(FontAwesome.info).Class("center-block")
                    }
                </th>
                @foreach (var option in result.Options)
                {
                    <th colspan="2" class="text-center">@Html.Raw(option)</th>
                }
            </tr>
        </thead>

        <tbody class="text-center">
            @foreach (var dictionaryGroup in result.DictionaryGroups)
            {
                <tr class="active">
                    <td>
                        <strong>@dictionaryGroup.GroupName</strong>
                    </td>
                    @for(int i = 0; i < result.Options.Count; i++)
                    {
                        <td><strong>@Model.Legend.SignOfBadgeMark</strong></td>
                        <td><strong>@Model.Legend.SignOfResultMark</strong></td>
                    }
                </tr>

                foreach (var dictionaryItem in dictionaryGroup.DictionaryItems)
                {
                    <tr>
                        <td>
                            <span class="badge">@dictionaryItem.Badge</span>
                            @dictionaryItem.ItemName
                        </td>
                        @Html.Partial("_ResultValue", dictionaryItem.Values)
                    </tr>
                }
            }
        </tbody>
        <tfoot class="text-center">
            <tr class="active">
                <td>
                    <strong>Legenda</strong>
                </td>
                <td colspan="@result.Options.Count">
                    <strong>@Model.Legend.SignOfBadgeMark - @Model.Legend.DescriptionOfBadgeMark</strong>
                </td>
                <td colspan="@result.Options.Count">
                    <strong>@Model.Legend.SignOfResultMark - @Model.Legend.DescriptionOfResultMark</strong>
                </td>
            </tr>
        </tfoot>
    </table>
}

@if (Model.PearsonCorrelations != null)
{
    @Html.Partial("_PearsonCorrelations", Model.PearsonCorrelations)
}

<br /><br />
@Html.ButtonsFooter(
    Html.Bootstrap().BackButton(MVC.Application.Results.General()))