@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Questions;
@model QuestionViewModel

@{
    ViewBag.Title = "Nowe pytanie";
}

<h2 class="center-block">
    <span class="label label-success center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.OrderNumber)

            @form.FormGroup().DropDownListFor(x => x.CategoryId, Model.Categories).OptionLabel("-")
            @form.FormGroup().TextBoxFor(x => x.Text)
        }
    }

    @Html.ButtonsFooter(
        Html.Bootstrap().BackButton(MVC.Admin.Questions.List(Model.QuestionnaireId)),
        Html.Bootstrap().SubmitSaveButton())
}