@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Questionnaires;
@model QuestionnaireViewModel

@{
    ViewBag.Title = "Nowa ankieta";
}

<h2 class="center-block">
    <span class="label label-success center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.OrderNumber)

            @form.FormGroup().TextBoxFor(x => x.Name)
            @form.FormGroup().TextAreaFor(x => x.Description).Rows(8)
        }
    }

    @Html.ButtonsFooter(
        Html.Bootstrap().BackButton(MVC.Admin.Questionnaires.List()),
        Html.Bootstrap().SubmitSaveButton())
}