@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Questionnaires;
@model QuestionnaireViewModel

@{
    ViewBag.Title = "Edycja ankiety";
}

<h2 class="center-block">
    <span class="label label-warning center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.QuestionnaireId)

            @form.FormGroup().EditorFor(x => x.OrderNumber)
            @form.FormGroup().TextBoxFor(x => x.Name)
            @form.FormGroup().DropDownListFromEnumFor(x => x.KeyType)
            @form.FormGroup().CheckBoxFor(x => x.IsActive)
        }
    }

    @Html.ButtonsFooter(
        Html.Bootstrap().BackButton(MVC.Admin.Questionnaires.List()),
        Html.Bootstrap().SubmitSaveButton(),
        Html.Bootstrap().ListButton("Pytania", MVC.Admin.Questions.List(Model.QuestionnaireId)),
        Html.Bootstrap().ConfirmDeleteButton())
}

@Html.Action(MVC.Admin.Questionnaires.Delete(Model.QuestionnaireId))