@model JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Categories.CategoryViewModel

@{
    ViewBag.Title = "Nowa kategoria";
}

<h2 class="center-block">
    <span class="label label-success center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()

            @form.FormGroup().DropDownListFor(x => x.QuestionnaireId, Model.Questionnaires).OptionLabel("-")
            @form.FormGroup().TextBoxFor(x => x.Name)
        }
    }

    @Html.ButtonsFooter(
        Html.Bootstrap().BackButton(MVC.Admin.Categories.List()),
        Html.Bootstrap().SubmitSaveButton())
}