@model JanuszMarcinik.Mvc.WebUI.Areas.Application.Models.Survey.LOTViewModel

@{
    ViewBag.Title = Model.QuestionnaireName;
}

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.QuestionnaireId)
    @Html.HiddenFor(x => x.QuestionnaireName)

    <br />

    using (var panel = Html.Bootstrap().Begin(new Panel().Style(TwitterBootstrapMVC.Infrastructure.Enums.PanelStyle.Primary)))
    {
        @panel.Heading(Model.QuestionnaireName)

        using (panel.BeginBody())
        {
            <p>
                Proszę ocenić w jakim stopniu podane poniżej stwierdzenia odnoszą się do Ciebie.<br />
                Proszę być szczerym w swoich odpowiedziach i uważać, aby odpowiedź na jedno pytanie, nie wpływała na pozostałe.<br />
                Nie ma odpowiedzi dobrych ani złych.
            </p>
            <br />

            <p>Do każdej kratki należy wpisać odpowiednią liczbę stosując następującą skalę:</p>
            <div style="margin-left: 80px">
                <strong>0</strong> - zdecydowanie <strong> nie odnosi się </strong> do mnie <br />
                <strong>1</strong> - raczej nie odnosi się do mnie <br />
                <strong>2</strong> – ani się odnosi ani się nie odnosi <br />
                <strong>3</strong> – raczej odnosi się do mnie <br />
                <strong>4</strong> - zdecydowanie <strong> odnosi się </strong> do mnie
            </div>
            <br />
            <hr />

            if (Model.ErrorProperties != null && Model.ErrorProperties.Count() > 0)
            {
                @Html.Bootstrap().Alert("Nieprawidłowe wypełnienie ankiety.").Closeable().Style(AlertColor.Danger)
            }

            for (int questionIndex = 0; questionIndex < Model.Questions.Count; questionIndex++)
            {
                @Html.HiddenFor(x => x.Questions[questionIndex].Id)
                @Html.HiddenFor(x => x.Questions[questionIndex].OrderNumber)
                @Html.HiddenFor(x => x.Questions[questionIndex].Text)
                
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-1 text-right">
                        <div style="margin-top: 7px">
                            @Model.Questions[questionIndex].OrderNumber<span>.</span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        @Html.Bootstrap().TextBoxFor(x => x.Questions[questionIndex].Value)
                    </div>
                    <div class="col-sm-10">
                        <div style="margin-top: 7px">
                            @Model.Questions[questionIndex].Text
                        </div>
                    </div>
                </div>
            }
        }

        using (panel.BeginFooter())
        {
            @Html.Bootstrap().SubmitButton().Text("Dalej").PrependIcon(FontAwesome.arrow_right).Style(ButtonStyle.Primary)
        }
    }
}

<style>
    .input-error {
        border-color: #a94442 !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        var errorProperties = @Html.Raw(Json.Encode(Model.ErrorProperties));
        for (i = 0; i < errorProperties.length; i++) {
            $("input[name='" + errorProperties[i] + "']").addClass("input-error");
        }
    })

</script>