@model JanuszMarcinik.Mvc.WebUI.Areas.Application.Models.Survey.WHOQOLViewModel

@{
    ViewBag.Title = Model.QuestionnaireName;
}

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.QuestionnaireName)
    @Html.HiddenFor(x => x.QuestionnaireId)

    <br />

    using (var panel = Html.Bootstrap().Begin(new Panel().Style(TwitterBootstrapMVC.Infrastructure.Enums.PanelStyle.Primary)))
    {
        @panel.Heading(Model.QuestionnaireName)

        using (panel.BeginBody())
        {
            <p>
                Kolejne pytania dotyczą jakości Pana/i życia, zdrowia i innych dziedzin.<br />
                Proszę wybrać najbardziej właściwą odpowiedź. Jeśli nie jest Pan/i pewien/a, która z odpowiedzi jest właściwa, to proszę podać pierwszą o której Pan/i pomyślał/a, z zasady jest ona najbliższa prawdy. <br />
                Proszę myśleć o swoim poziomie życia, nadziejach, przyjemnościach i troskach. <br />
                Pytania dotyczą spraw życia z ostatnich czterech tygodni.
            </p>
            <hr />
            
            if ((bool?)ViewBag.WHOQOLModelError == true)
            {
                @Html.Bootstrap().Alert("Należy odpowiedzieć na wszystkie pytnia.").Closeable().Style(AlertColor.Danger)
            }

            <h3><strong>Zapytam Pana / Panią o sprawy życia z ostatnich czterech tygodni.</strong></h3>
            {
                ViewBag.FirstQuestionIndex = 0;
                ViewBag.LastQuestionIndex = 0;
            }
            @Html.Partial("_WHOQOL_PartTable")
            {
                ViewBag.FirstQuestionIndex = 1;
                ViewBag.LastQuestionIndex = 1;
            }
            @Html.Partial("_WHOQOL_PartTable")

            <h3><strong>Następne pytanie dotyczą nasilenia stanów, których Pan / Pani doznawał/a w ciągu 4 tygodni.</strong></h3>
            {
                ViewBag.FirstQuestionIndex = 2;
                ViewBag.LastQuestionIndex = 8;
            }
            @Html.Partial("_WHOQOL_PartTable");

            <h3><strong>Poniższe pytania dotyczą tego jak Pan / Pani czuje się i jak się Panu / Pani wiodło w ciągu ostatnich 4 tygodni.</strong></h3>
            {
                ViewBag.FirstQuestionIndex = 9;
                ViewBag.LastQuestionIndex = 13;
            }
            @Html.Partial("_WHOQOL_PartTable")
            {
                ViewBag.FirstQuestionIndex = 14;
                ViewBag.LastQuestionIndex = 14;
            }
            @Html.Partial("_WHOQOL_PartTable")
            {
                ViewBag.FirstQuestionIndex = 15;
                ViewBag.LastQuestionIndex = 24;
            }
            @Html.Partial("_WHOQOL_PartTable")

            <h3><strong>Poniższe pytanie odnosi się do częstotliwości doznań, jakich Pan / Pani doświadczał/a w okresie ostatnich 4 tygodni.</strong></h3>
            {
                ViewBag.FirstQuestionIndex = 25;
                ViewBag.LastQuestionIndex = 25;
            }
            @Html.Partial("_WHOQOL_PartTable");
        }

        using (panel.BeginFooter())
        {
            @Html.Bootstrap().SubmitButton().Text("Zapisz wyniki").PrependIcon(FontAwesome.save).Style(ButtonStyle.Success)
        }
    }
}

<script type="text/javascript">

    $(document).ready(function ()
    {
        var width = $(".radio-buttons-cell").width();
        var part = (width / 5) - 1;
        $(".input-list-column").each(function (index) {
            $(this).css("width", part);
        });

        var selectedValues = [];

        @foreach (var d in Model.SelectedValues)
        {
            @:selectedValues.push("@d");
        }

        for (i = 0; i < selectedValues.length; i++)
        {
            $("input[value='" + selectedValues[i] + "']").parent().addClass("active");
        }
    })

</script>