@using JanuszMarcinik.Mvc.WebUI.Areas.Account.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<h2 class="center-block">
    <span class="label label-primary center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.Bootstrap().ValidationSummary().Class("text-danger")

            @form.FormGroup().TextBoxFor(m => m.Email)
            @form.FormGroup().PasswordFor(m => m.Password)
            @form.FormGroup().CheckBoxFor(m => m.RememberMe)
        }

        using (panel.BeginFooter())
        {
            @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Primary).PrependIcon(FontAwesome.sign_in).Text("Zaloguj")
        }
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}